In [1]:
import pandas as pd
import numpy as np
import csv
from datetime import datetime

In [33]:
df= pd.read_csv("customers.csv")

/var/folders/ls/qbygxvjx5lj6qjn5zf75cb1w0000gp/T/ipykernel_24626/2386912854.py:1: DtypeWarning: Columns (4,5,6,7) have mixed types. Specify dtype option on import or set low_memory=False.
  df= pd.read_csv("customers.csv")

In [34]:
df

,platform_customer_id,msp_id,region,contact.company_name,contact.description,contact.defaulted_country_code,contact.customer_logo.logo,contact.customer_logo.logo_filename,account.account_type,account.status,account.created_at,account.updated_at,preferences.customer_id,preferences.multi_fa_enabled,created_by_domain,email_domain
0,31b02bbc8d1b11eb8aeb264116e2e1b3,STANDALONE,US,mira-hpe-suraj,NaN,NaN,NaN,NaN,STANDALONE,ACTIVE,2021-03-25T03:35:50.220511,2021-07-13T03:34:25.888391,31b02bbc8d1b11eb8aeb264116e2e1b3,NaN,gmail.com,None
1,dc5b28468d1b11eb86d056f81d8d08cb,STANDALONE,US,HEWLETT PACKARD ENTERPRISE COMPANY,NaN,NaN,NaN,NaN,STANDALONE,ACTIVE,2021-03-25T03:40:36.553600,2022-06-13T19:06:17.534170,dc5b28468d1b11eb86d056f81d8d08cb,False,gmail.com,None
2,9a8642068d2611eb8aeb264116e2e1b3,STANDALONE,US,ccsadi1,NaN,NaN,NaN,NaN,STANDALONE,ACTIVE,2021-03-25T04:57:30.569900,2021-03-25T04:57:30.569906,9a8642068d2611eb8aeb264116e2e1b3,NaN,gmail.com,None
3,bc0b1dfe8d2911eb9ba99e40683f1f55,STANDALONE,US,Moon,NaN,NaN,NaN,NaN,STANDALONE,ACTIVE,2021-03-25T05:19:55.296192,2021-10-06T07:04:26.869202,bc0b1dfe8d2911eb9ba99e40683f1f55,NaN,gmail.com,None
4,db87a1c08d2911eb973f264116e2e1b3,STANDALONE,US,RUNWAY,NaN,NaN,NaN,NaN,STANDALONE,ACTIVE,2021-03-25T05:20:48.121671,2021-06-16T16:18:17.414555,db87a1c08d2911eb973f264116e2e1b3,NaN,gmail.com,None
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
341200,e3452956eb4b11ec8ee8c641a5a633f7,STANDALONE,US,HEWLETT PACKARD ENTERPRISE COMPANY 11655147171,NaN,False,NaN,NaN,STANDALONE,ACTIVE,2022-06-13T19:06:10.968079,2022-06-13T19:06:10.968082,e3452956eb4b11ec8ee8c641a5a633f7,NaN,gmail.com,None
341201,e6c1ddeaeb4b11ec80223209001a5917,STANDALONE,US,HEWLETT PACKARD ENTERPRISE COMPANY 11655147177,NaN,False,NaN,NaN,STANDALONE,ACTIVE,2022-06-13T19:06:16.818505,2022-06-13T19:06:16.818508,e6c1ddeaeb4b11ec80223209001a5917,NaN,gmail.com,None
341202,e9de6b06eb4b11eca2f06ae62a8a7641,STANDALONE,US,HEWLETT PACKARD ENTERPRISE COMPANY 11655147182,NaN,False,NaN,NaN,STANDALONE,ACTIVE,2022-06-13T19:06:22.038778,2022-06-13T19:06:22.038781,e9de6b06eb4b11eca2f06ae62a8a7641,NaN,gmail.com,None
341203,fcf26ad0eb4b11eca8d32e404031c7fe,STANDALONE,US,MSP-Automation_1655147214,NaN,False,NaN,NaN,STANDALONE,ACTIVE,2022-06-13T19:06:54.046620,2022-06-13T19:07:49.629294,fcf26ad0eb4b11eca8d32e404031c7fe,NaN,gmail.com,None
341204,61e6e8deeb4d11ecb88d9a0cfdc362a1,STANDALONE,US,fesskob,NaN,False,NaN,NaN,STANDALONE,ACTIVE,2022-06-13T19:16:52.917758,2022-06-13T19:16:52.917762,61e6e8deeb4d11ecb88d9a0cfdc362a1,NaN,gmail.com,None

In [35]:
dftest= df.loc[:,['platform_customer_id','contact.company_name']]

In [36]:
dftest

,platform_customer_id,contact.company_name
0,31b02bbc8d1b11eb8aeb264116e2e1b3,mira-hpe-suraj
1,dc5b28468d1b11eb86d056f81d8d08cb,HEWLETT PACKARD ENTERPRISE COMPANY
2,9a8642068d2611eb8aeb264116e2e1b3,ccsadi1
3,bc0b1dfe8d2911eb9ba99e40683f1f55,Moon
4,db87a1c08d2911eb973f264116e2e1b3,RUNWAY
...,...,...
341200,e3452956eb4b11ec8ee8c641a5a633f7,HEWLETT PACKARD ENTERPRISE COMPANY 11655147171
341201,e6c1ddeaeb4b11ec80223209001a5917,HEWLETT PACKARD ENTERPRISE COMPANY 11655147177
341202,e9de6b06eb4b11eca2f06ae62a8a7641,HEWLETT PACKARD ENTERPRISE COMPANY 11655147182
341203,fcf26ad0eb4b11eca8d32e404031c7fe,MSP-Automation_1655147214
341204,61e6e8deeb4d11ecb88d9a0cfdc362a1,fesskob

In [37]:
dftest['type']=df['contact.company_name']

In [38]:
dftest

,platform_customer_id,contact.company_name,type
0,31b02bbc8d1b11eb8aeb264116e2e1b3,mira-hpe-suraj,mira-hpe-suraj
1,dc5b28468d1b11eb86d056f81d8d08cb,HEWLETT PACKARD ENTERPRISE COMPANY,HEWLETT PACKARD ENTERPRISE COMPANY
2,9a8642068d2611eb8aeb264116e2e1b3,ccsadi1,ccsadi1
3,bc0b1dfe8d2911eb9ba99e40683f1f55,Moon,Moon
4,db87a1c08d2911eb973f264116e2e1b3,RUNWAY,RUNWAY
...,...,...,...
341200,e3452956eb4b11ec8ee8c641a5a633f7,HEWLETT PACKARD ENTERPRISE COMPANY 11655147171,HEWLETT PACKARD ENTERPRISE COMPANY 11655147171
341201,e6c1ddeaeb4b11ec80223209001a5917,HEWLETT PACKARD ENTERPRISE COMPANY 11655147177,HEWLETT PACKARD ENTERPRISE COMPANY 11655147177
341202,e9de6b06eb4b11eca2f06ae62a8a7641,HEWLETT PACKARD ENTERPRISE COMPANY 11655147182,HEWLETT PACKARD ENTERPRISE COMPANY 11655147182
341203,fcf26ad0eb4b11eca8d32e404031c7fe,MSP-Automation_1655147214,MSP-Automation_1655147214
341204,61e6e8deeb4d11ecb88d9a0cfdc362a1,fesskob,fesskob

In [39]:
notest_companies=['Gemeindeverwaltung Untersiggenthal', 'Devoli', 'Epic Testlab']
for company in notest_companies:
    dftest['type']=dftest['type'].apply(lambda x: 'No Test' if x.find(company) else 'Test')

In [40]:
dftest

,platform_customer_id,contact.company_name,type
0,31b02bbc8d1b11eb8aeb264116e2e1b3,mira-hpe-suraj,No Test
1,dc5b28468d1b11eb86d056f81d8d08cb,HEWLETT PACKARD ENTERPRISE COMPANY,No Test
2,9a8642068d2611eb8aeb264116e2e1b3,ccsadi1,No Test
3,bc0b1dfe8d2911eb9ba99e40683f1f55,Moon,No Test
4,db87a1c08d2911eb973f264116e2e1b3,RUNWAY,No Test
...,...,...,...
341200,e3452956eb4b11ec8ee8c641a5a633f7,HEWLETT PACKARD ENTERPRISE COMPANY 11655147171,No Test
341201,e6c1ddeaeb4b11ec80223209001a5917,HEWLETT PACKARD ENTERPRISE COMPANY 11655147177,No Test
341202,e9de6b06eb4b11eca2f06ae62a8a7641,HEWLETT PACKARD ENTERPRISE COMPANY 11655147182,No Test
341203,fcf26ad0eb4b11eca8d32e404031c7fe,MSP-Automation_1655147214,No Test
341204,61e6e8deeb4d11ecb88d9a0cfdc362a1,fesskob,No Test